<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/header'); %>
</header>
<main>

</main>
<footer>
    <%- include('./partials/footer');%>
</footer>
    <div>
        <form action="">
            <select name="model_type" id="model_type">
                <option>RC Car</option>
                <option>RC Plane</option>
            </select>
            <input type="text" name="name" id="name" placeholder="name">
            <select name="manufacturer">
                <%  %>
            </select>

        </form>
    </div>
</html>