<div class="accentStripe light">
</div>
<div class="accentStripe dark">
</div>     

<div class="headerCont">
  <div>
       <div>
           <a href="/">
               <h3>RadioDB</h3>
           </a>
       </div>
   </div>
   <div class="postBtn Cont">
       <form action="/user" method="GET">
           <button type="submit" class="postBtn">Account</button>
       </form>
  </div>
</div>
