<div>
    <ul>
        <% content.map((element)=> { %>

            <li>
                <p><%= element.name %> </p>
                <p><%= element.description%> </p>
            </li>
    <% }); %>
    </ul>
</div>